body {
    height: 200vh;
    font-family: 'SF Pro Display', sans-serif !important;
    background-color: #ffffff !important;
    cursor: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReIpWZer2h64FLyc6qW5Ulw8qL6aucHuUyZw&s'), auto;
}

.section-title {
    color: #212121 !important;
    font-weight: 700 !important;
    font-size: 1.25rem !important;
}

.current-price {
    color: #BDBDBD !important;
}

.bg-danger-transparent {
    background-color: #D32F2F !important;
}

footer {
    background-color: #ffffff !important;
    color: #ffffff;
}

footer h5 {
    color: #333;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .form-control {
    border-radius: 30px;
}

footer .btn-primary {
    background-color: #007bff;
    border-radius: 30px;
    border: none;
    transition: background-color 0.3s;
}

footer .btn-primary:hover {
    background-color: #0056b3;
}

footer .social-icons a {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .catgeory-selector {
        display: none !important;
    }
}