body {
    height: 200vh;
    font-family: 'SF Pro Display', sans-serif !important;
    background-color: #ffffff !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.section-title {
    color: #212121 !important;
    font-weight: 700 !important;
    font-size: 1.25rem !important;
}

.current-price {
    color: #BDBDBD !important;
}

.bg-danger-transparent {
    background-color: #D32F2F !important;
}

#backToTopBtn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: none;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    font-size: 18px;
}

#backToTopBtn:hover {
    background-color: #c82333;
}

.loader {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 5px !important;
    background-color: #f3f3f3 !important;
    z-index: 9999 !important;
}

.progress-bar {
    width: 0 !important;
    height: 100% !important;
    background-color: #e74c3c !important;
    transition: width 0.5s ease-in-out !important;
}

.loader.start .progress-bar {
    width: 100% !important;
}

@keyframes progress {
    0% { width: 0 !important; }
    100% { width: 100% !important; }
}

.loader.active .progress-bar {
    animation: progress 3s linear infinite !important;
}

::-webkit-scrollbar {
    width: 12px !important;
}

::-webkit-scrollbar-track {
    background: #f3f3f3 !important;
}

::-webkit-scrollbar-thumb {
    background: #e74c3c !important;
    transition: background 0.3s ease !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #c0392b !important;
}


@media (max-width: 768px) {
    .catgeory-selector {
        display: none !important;
    }
}