.navbar {
    background-color: white;
    color: black;
    padding: 10px;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    width: 80%;
    margin:  8px;
    border-radius: 50px;
    position: fixed;
    z-index: 55;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-search {
    margin-right: 20rem;
}

.nav-search input {
    width: 240%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.374);
}

.nav-action a {
    color: black;
}

.nav-action a:hover {
    color: rgb(236, 26, 26);
    transition: color 0.3s ease; /* Transisi warna */
}

.divider {
    width: 1px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.374);
}

.nav-auth img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* navbar.css */
.nav-auth {
    position: relative;
}

.nav-auth .dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
}

.nav-auth .dropdown-menu li {
    padding: 8px 16px;
}

.nav-auth .dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.nav-auth .dropdown-menu li:hover {
    background-color: #f1f1f1;
}

#dropdown-toggler:checked + .dropdown-menu {
    display: block;
}

.profile-img {
    cursor: pointer;
}