.navbar {
    background-color: white;
    color: black;
    padding: 10px;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    width: 80%;
    margin: 8px;
    border-radius: 50px;
    position: fixed;
    z-index: 55;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-search {
    flex: 1;
    margin: 0 10px;
}

.nav-search input {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.374);
}

.nav-action a {
    color: black;
}

.nav-action a:hover {
    color: rgb(236, 26, 26);
    transition: color 0.3s ease;
}

.divider {
    width: 1px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.374);
}

.nav-auth img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-auth {
    position: relative;
}

.nav-auth .dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000;
}

.nav-auth .dropdown-menu li {
    padding: 8px 16px;
}

.nav-auth .dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.nav-auth .dropdown-menu li:hover {
    background-color: #f1f1f1;
}

#dropdown-toggler:checked + .dropdown-menu {
    display: block;
}

.profile-img {
    cursor: pointer;
}

@media (max-width: 920px) {
    .navbar.scrolled {
        width: 90% !important;
    }
}

@media (max-width: 768px) {
    .nav-search {
        margin: 0;
        display: none;
    }

    .divider {
        display: none;
    }

    .nav-auth {
        display: none;
    }

    .nav-search input {
        width: 100%;
        max-width: none;
    }

    .navbar.scrolled {
        width: 100% !important;
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .mobile-nav-toggler {
        display: block !important;
    }

    .mobile-nav {
        display: block  !important;
    }
}

.bottom-tab-bar {
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
}

.bottom-tab-bar .nav-tabs {
    justify-content: space-around;
}

.bottom-tab-bar .nav-link {
    color: #333;
    font-size: 14px;
}

.bottom-tab-bar .nav-link i {
    display: block;
    font-size: 18px;
}
